In [27]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,None,4],'B':[5,None,7,None]})

print(df)
df.fillna(0,inplace=True)
print("\n")
print(df)

     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  7.0
3  4.0  NaN


     A    B
0  1.0  5.0
1  2.0  0.0
2  0.0  7.0
3  4.0  0.0

In [25]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,None,4],'B':[5,None,7,None]})
print(df)
print("\n")
df.dropna(inplace=True)
print(df)

     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  7.0
3  4.0  NaN


     A    B
0  1.0  5.0

In [26]:
print("chapter over")

chapter over

In [18]:
import pandas as pd
data = pd.DataFrame({
    'EMP_ID':[111,123,None,133,211],
    'DESIGNATION':["Data Scientist","Data Scientist","Data Analyist",None,None],
})
data

   EMP_ID     DESIGNATION
0   111.0  Data Scientist
1   123.0  Data Scientist
2     NaN   Data Analyist
3   133.0            None
4   211.0            None

In [23]:
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'EMP_ID':[111,123,np.NaN,133,211],
    'DESIGNATION':["Data Scientist","Data Scientist","Data Analyist",np.NaN,np.NaN]
})
data
data_cleaned = data.dropna()
data_cleaned

   EMP_ID     DESIGNATION
0   111.0  Data Scientist
1   123.0  Data Scientist

In [30]:
import os
os.getcwd()

'C:\\Users\\DS\\SAJIN'